* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    width: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(9, 43, 211, 0.986) 0px 5px 15px;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.container h2 {
    margin-bottom: 2rem;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.container form input {
    width: 16rem;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 1rem;
   border-radius: 5rem solid white;
}

button {
    border: none;
    color: #fff;
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5rem;
   background-color: blue;
}

.newUser span {
    color: rgb(25, 176, 176);
}